@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  transition: 0.3s ease-in-out;
}

footer {
  background-color: #e3e0d3;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
}

a {
  text-decoration: none !important;
  color: black;
}

.btn {
  border-radius: 30px;
  padding: 6px 16px;
  font-weight: 600;
}
.btn.btn-primary {
  background-color: #94cf5c;
  border-color: #94cf5c;
  color: black;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #78b144;
  border-color: #78b144;
}

.form-check-input:checked {
  background-color: #94cf5c;
  border-color: #94cf5c;
}

.page-content {
  min-height: 800px;
}

.title-banner {
  position: relative;
}
.title-banner img {
  filter: brightness(0.7);
  width: 100%;
}
.title-banner .title-banner-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.title-banner .title-banner-content h2 {
  font-weight: bold;
  color: white;
  font-size: 34px;
}

.home .home-banner {
  position: relative;
}
.home .home-banner .home-banner-bg {
  width: 100%;
  filter: brightness(0.7);
}
.home .home-banner .home-banner-info {
  color: white;
  position: absolute;
  top: 0;
  padding-top: 20vh;
  width: 100%;
  text-align: center;
}
.home .home-banner .home-banner-info h1 {
  font-size: 100px;
}

.home-catalog {
  padding: 80px 0;
}

.catalog-product-type-tabs {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 10px;
  padding: 0;
  list-style: none;
}
.catalog-product-type-tabs .catalog-product-type-tab-button {
  background: none;
  border: none;
}
.catalog-product-type-tabs .catalog-product-type-tab-button img {
  width: 50px;
  height: 30px;
  margin-bottom: 15px;
}
.catalog-product-type-tabs .catalog-product-type-tab-button:hover .catalog-product-type-tab-text img {
  opacity: 1;
}
.catalog-product-type-tabs .catalog-product-type-tab-button:hover .catalog-product-type-tab-text span {
  color: white;
}
.catalog-product-type-tabs .catalog-product-type-tab-button .catalog-product-type-tab-text {
  position: relative;
  width: 130px;
  height: 37px;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
.catalog-product-type-tabs .catalog-product-type-tab-button .catalog-product-type-tab-text img {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 136px;
  height: 37px;
  z-index: 1;
  opacity: 0;
}
.catalog-product-type-tabs .catalog-product-type-tab-button .catalog-product-type-tab-text span {
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: #78b144;
}
.catalog-product-type-tabs .catalog-product-type-tab-button .catalog-product-type-tab-text.active img {
  opacity: 1;
}
.catalog-product-type-tabs .catalog-product-type-tab-button .catalog-product-type-tab-text.active span {
  color: white;
}

.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll !important;
}

.nav-pills .nav-link {
  border-radius: 20px !important;
  color: black !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #94cf5c;
}

.product-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 450px;
}
.product-list li {
  width: calc((100% - 90px) / 4);
}
.product-list li .product-list-item {
  background-color: white;
  border: 1px solid #e3e0d3;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.product-list li .product-list-item .product-list-item-images {
  position: relative;
  aspect-ratio: 1/1;
}
.product-list li .product-list-item .product-list-item-images img {
  position: absolute;
  top: -3px;
  right: 0;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-list li .product-list-item .product-list-item-images .product-list-item-image-main {
  opacity: 1;
}
.product-list li .product-list-item .product-list-item-images .product-list-item-image-hover {
  opacity: 0;
}
.product-list li .product-list-item .product-list-item-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px !important;
  padding: 0 5px;
}
.product-list li .product-list-item .product-list-item-name:hover {
  color: #78b144;
}
.product-list li .product-list-item .product-list-item-price {
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
}
.product-list li .product-list-item .product-list-item-price i {
  font-size: 14px;
}
.product-list li .product-list-item .product-list-item-price span {
  font-size: 16px;
}
.product-list li .product-list-item .product-list-item-go-to-basket {
  background-color: #78b144;
  color: white;
  opacity: 0.5;
  border-radius: 100px;
  padding: 8px 16px;
  margin-bottom: 30px;
  display: inline-block;
}
.product-list li .product-list-item .product-list-item-go-to-basket:hover {
  opacity: 1;
}
.product-list li .product-list-item .product-list-item-add-cart {
  background-color: #78b144;
  color: white;
  border-radius: 50%;
  width: 42px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  opacity: 0.5;
  margin-bottom: 30px;
}
.product-list li .product-list-item .product-list-item-add-cart:hover {
  opacity: 1;
}
.product-list li .product-list-item:hover {
  transform: translateY(-10px);
}
.product-list li .product-list-item:hover .product-list-item-image-main {
  opacity: 0;
}
.product-list li .product-list-item:hover .product-list-item-image-hover {
  opacity: 1;
}

.my-nav-link div {
  background-color: transparent;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: 600;
}
.my-nav-link div:hover {
  background-color: #94cf5c;
}

.auth-layout {
  background: url("../../public/images/auth-banner.jpg") no-repeat right;
  min-height: 100vh;
  margin-bottom: -80px;
  padding-top: 50px;
}

.auth-form {
  background-color: white;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgb(238, 238, 238);
}

.basket-products-container {
  display: flex;
  gap: 50px;
  align-items: start;
}

.basket-total {
  width: 400px;
  position: sticky;
  top: 24px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #e3e0d3;
}

.input-group {
  width: auto;
}

.basket-product-list {
  flex-grow: 1;
  list-style: none;
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.basket-product-list .basket-product-list-item {
  display: flex;
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #e3e0d3;
  padding-bottom: 8px;
}
.basket-product-list .basket-product-list-item .basket-product-list-item-saleType {
  display: flex;
  gap: 20px;
}
.basket-product-list .basket-product-list-item img {
  width: 80px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  border: 1px solid #ebebeb;
}
.basket-product-list .basket-product-list-item .basket-product-list-item-name {
  width: 300px;
  margin-bottom: 8px;
}
.basket-product-list .basket-product-list-item .basket-product-list-item-counter input {
  max-width: 60px !important;
}
.basket-product-list .basket-product-list-item .basket-product-list-item-price {
  font-size: 20px;
}
.basket-product-list .basket-product-list-item .dimension {
  text-align: right;
  position: absolute;
  right: 30px;
}
.basket-product-list .basket-product-list-item .basket-product-list-item-delete {
  background-color: none;
  border: none;
  opacity: 0.5;
  margin-bottom: 10px;
}
.basket-product-list .basket-product-list-item .basket-product-list-item-delete:hover {
  opacity: 1;
}

.checkout-container {
  display: flex;
  gap: 60px;
}
.checkout-container .checkout-order-details {
  flex-grow: 1;
}
.checkout-container .checkout-order-address, .checkout-container .checkout-order-payment {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.checkout-container .checkout-order-address .checkout-order-address-item, .checkout-container .checkout-order-address .checkout-order-payment-item, .checkout-container .checkout-order-payment .checkout-order-address-item, .checkout-container .checkout-order-payment .checkout-order-payment-item {
  border: 1px solid #e3e0d3;
  padding: 16px;
  border-radius: 10px;
  font-weight: bold;
  min-height: 86px;
  cursor: pointer;
}
.checkout-container .checkout-order-address .checkout-order-address-item.new-btn, .checkout-container .checkout-order-address .checkout-order-payment-item.new-btn, .checkout-container .checkout-order-payment .checkout-order-address-item.new-btn, .checkout-container .checkout-order-payment .checkout-order-payment-item.new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-container .checkout-order-address .checkout-order-address-item p:first-child, .checkout-container .checkout-order-address .checkout-order-payment-item p:first-child, .checkout-container .checkout-order-payment .checkout-order-address-item p:first-child, .checkout-container .checkout-order-payment .checkout-order-payment-item p:first-child {
  font-size: 14px;
  margin-bottom: 4px;
  color: grey;
}
.checkout-container .checkout-order-address .checkout-order-address-item p:last-child, .checkout-container .checkout-order-address .checkout-order-payment-item p:last-child, .checkout-container .checkout-order-payment .checkout-order-address-item p:last-child, .checkout-container .checkout-order-payment .checkout-order-payment-item p:last-child {
  font-size: 18px;
  margin-bottom: 0;
}
.checkout-container .checkout-order-address .checkout-order-address-item:hover, .checkout-container .checkout-order-address .checkout-order-payment-item:hover, .checkout-container .checkout-order-payment .checkout-order-address-item:hover, .checkout-container .checkout-order-payment .checkout-order-payment-item:hover {
  background-color: #cdeeae;
}
.checkout-container .checkout-order-address .checkout-order-address-item.active, .checkout-container .checkout-order-address .checkout-order-payment-item.active, .checkout-container .checkout-order-payment .checkout-order-address-item.active, .checkout-container .checkout-order-payment .checkout-order-payment-item.active {
  background-color: #94cf5c;
}
.checkout-container .checkout-order-address .checkout-order-address-item.active p:first-child, .checkout-container .checkout-order-address .checkout-order-payment-item.active p:first-child, .checkout-container .checkout-order-payment .checkout-order-address-item.active p:first-child, .checkout-container .checkout-order-payment .checkout-order-payment-item.active p:first-child {
  font-size: 14px;
  margin-bottom: 4px;
  color: white;
}
.checkout-container .checkout-total {
  width: 300px;
}/*# sourceMappingURL=main.css.map */