@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    //  overflow-x: hidden;
    //  width:100vw !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    transition: .3s ease-in-out;
}

footer {
    background-color: #e3e0d3;
    padding: 30px 0;
}

.container {
    max-width: 1200px;
}

a {
    text-decoration: none !important;
    color: black;
}

.btn {
    border-radius: 30px;
    padding: 6px 16px;
    font-weight: 600;
    &.btn-primary {
        background-color:#94cf5c;
        border-color:#94cf5c;
        color:black;
        &:hover , &:focus, &:active {
            background-color: #78b144;
            border-color: #78b144;
        }
    }
}
.form-check-input:checked {
    background-color: #94cf5c;
    border-color: #94cf5c;
}
.page-content {
    min-height: 800px;
}

.title-banner {
    position: relative;
    img {
        filter: brightness(.7);
        width:100%;
    }
    .title-banner-content {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: flex;
        align-items: center;
        h2 {
            font-weight: bold;
            color:white;
            font-size: 34px;
        }
    }
}

.home {
    .home-banner {
        position: relative;

        .home-banner-bg {
            width: 100%;
            filter: brightness(.7);
        }

        .home-banner-info {
            color: white;
            position: absolute;
            top: 0;
            padding-top: calc(100vh / 5);
            width: 100%;
            text-align: center;

            h1 {
                font-size: 100px;
            }
        }
    }
}

.home-catalog {
    padding: 80px 0;
}

.catalog-product-type-tabs {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 10px;
    padding: 0;
    list-style: none;

    .catalog-product-type-tab-button {
        background: none;
        border: none;

        img {
            width: 50px;
            height: 30px;
            margin-bottom: 15px;
        }

        &:hover {
            .catalog-product-type-tab-text {
                img {
                    opacity: 1;
                }

                span {
                    color: white;
                }
            }
        }

        .catalog-product-type-tab-text {
            position: relative;
            width: 130px;
            height: 37px;
            display: flex;
            justify-content: center;
            padding-top: 2px;

            img {
                position: absolute;
                top: -3px;
                left: -3px;
                width: 136px;
                height: 37px;
                z-index: 1;
                opacity: 0;
            }

            span {
                position: relative;
                z-index: 2;
                font-weight: bold;
                color: #78b144;
            }

            &.active {
                img {
                    opacity: 1;
                }

                span {
                    color: white;
                }
            }
        }
    }
}

.modal-open {
    padding-right: 0 !important;
    overflow-y: scroll !important;
}

.nav-pills .nav-link {
    border-radius: 20px !important;
    color:black !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #94cf5c;
}

.product-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 450px;

    li {
        width: calc((100% - 90px) / 4);

        .product-list-item {
            background-color: white;
            border: 1px solid #e3e0d3;
            border-radius: 10px;
            overflow: hidden;
            text-align: center;

            .product-list-item-images {
                position: relative;
                aspect-ratio: 1 / 1;

                img {
                    position: absolute;
                    top: -3px;
                    right: 0;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: contain;
                }

                .product-list-item-image-main {
                    opacity: 1;
                }

                .product-list-item-image-hover {
                    opacity: 0;
                }
            }

            .product-list-item-name {
                font-size: 16px;
                font-weight: bold;
                margin-top: 5px;
                margin-bottom: 5px !important;
                padding: 0 5px;

                &:hover {
                    color: #78b144;
                }
            }

            .product-list-item-price {
                font-size: 20px;
                font-weight: bold;
                padding: 0 5px;

                i {
                    font-size: 14px;
                }

                span {
                    font-size: 16px;
                }
            }

            .product-list-item-go-to-basket {
                background-color: #78b144;
                color: white;
                opacity: .5;
                border-radius: 100px;
                padding: 8px 16px;
                margin-bottom: 30px;

                &:hover {
                    opacity: 1;
                }

                display: inline-block;
            }

            .product-list-item-add-cart {
                background-color: #78b144;
                color: white;
                border-radius: 50%;
                width: 42px;
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                border: none;
                opacity: .5;

                &:hover {
                    opacity: 1;
                }

                margin-bottom: 30px;
            }

            &:hover {
                transform: translateY(-10px);

                .product-list-item-image-main {
                    opacity: 0;
                }

                .product-list-item-image-hover {
                    opacity: 1;
                }
            }

        }
    }
}

.my-nav-link {
    div {
        background-color: transparent;
        padding: 6px 16px;
        border-radius: 20px;
        font-weight: 600;
    &:hover {
        background-color: #94cf5c;
    }
    }
}

.auth-layout {
    background: url('../../public/images/auth-banner.jpg') no-repeat right;
    min-height: 100vh;
    margin-bottom:-80px;
    padding-top:50px;
}

.auth-form {
    background-color: white;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
}

.basket-products-container {
    display: flex;
    gap: 50px;
    align-items: start;
}

.basket-total {
    width: 400px;
    position: sticky;
    top:24px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #e3e0d3;
}

.input-group {
    width:auto;
}

.basket-product-list {
    flex-grow: 1;
    
    list-style: none;
    margin: 30px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .basket-product-list-item {
        display: flex;
        gap: 30px;
        align-items: center;
        border-bottom: 1px solid #e3e0d3;
        padding-bottom: 8px;
        .basket-product-list-item-saleType {
            display: flex;
            gap:20px;
        }
        img {
            width: 80px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            border-radius: 6px;
            border: 1px solid #ebebeb;
        }

        .basket-product-list-item-name {
            width: 300px;
            margin-bottom: 8px;
        }

        .basket-product-list-item-counter {
            input {
                max-width: 60px !important;
            }
        }

        .basket-product-list-item-price {
            font-size: 20px;
        }

        .dimension {
            text-align: right;
            position: absolute;
            right: 30px;
        }

        .basket-product-list-item-delete {
            background-color: none;
            border: none;
            opacity: .5;
            margin-bottom: 10px;

            &:hover {
                opacity: 1;
            }
        }
    }
}



.checkout-container {
    display: flex;
    gap: 60px;

    .checkout-order-details {
        flex-grow: 1;
    }

    .checkout-order-address,.checkout-order-payment {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;

        .checkout-order-address-item, .checkout-order-payment-item {
            border: 1px solid #e3e0d3;
            padding: 16px;
            border-radius: 10px;
            font-weight: bold;
            min-height: 86px;
            cursor: pointer;

            &.new-btn {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                &:first-child {
                    font-size: 14px;
                    margin-bottom: 4px;
                    color: grey;
                }

                &:last-child {
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }

            &:hover {
                background-color: #cdeeae;
            }

            &.active {
                background-color: #94cf5c;
                p {
                    &:first-child {
                        font-size: 14px;
                        margin-bottom: 4px;
                        color: white;
                    }
                }
            }
        }
    }

    .checkout-total {
        width: 300px;
    }
}